.main {
  min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #647D87;
}
.helloWord {
  color: #FAEF9B;
  
}
.link {
  background-color: #6DA4AA;
    padding: 10px;
    border-radius: 3px;
    color: #ffffff;
    
}
.link2 {
  background-color: #6DA4AA;
    padding: 10px;
    border-radius: 3px;
    color: #ffffff;
    margin: auto;
}
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  padding: 50px;

}

.article {
  padding: 10px;
  border-radius: 3px;
  border: 1px groove #fff;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #FAEF9B;
  color: #fff;
}

.content {
  margin-bottom: 10px;
  color: #fff;
}

.author {
  float: right;
  margin-top: 10px;
  color: #eee;
}